<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@(Model.MetaDescription ?? "")">
    <title>@(Model.MetaTitle ?? "")</title>

	<!-- inject:css -->
	<link rel="stylesheet" href="/assets/styles/css/app.css">
	<!-- endinject -->
</head>
<body ng-app="Spinit.Stack.CMS">
    @Html.Partial("_Header")

    <div class="container">
        @RenderBody()

        @Html.Partial("_Footer")
    </div>

    <!-- Dev-dependencies have to be inserted manually-->
    <script src="/node_modules/angular/angular.js"></script>

    <!-- inject:js -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="/Features/angular.module.js"></script>
    <script src="/Features/Home/home.controller.js"></script>
    <!-- endinject -->
</body>
</html>