<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@(Model.MetaDescription ?? "")">
    <title>@(Model.MetaTitle ?? "")</title>

	<!-- inject:css -->
	@*<link rel="stylesheet" href="/assets/styles/css/app.css">*@
	<link rel="stylesheet" href="/dist/styles/main.css">
	
	<!-- endinject -->
</head>
<body ng-app="Spinit.Stack.CMS">
    @Html.Partial("_Header")

    <div class="container">
        @RenderBody()

        @Html.Partial("_Footer")
    </div>
	
	<script src="/dist/bundle.js"></script>
</body>
</html>