@using Our.Umbraco.Vorto.Extensions
@using umbraco.NodeFactory
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @{
                    var umbracoContext = Umbraco.Web.UmbracoContext.Current;
                    var umbraco = new Umbraco.Web.UmbracoHelper(umbracoContext);

                    var rootNodes = umbraco.TypedContentAtRoot();
                    var homeNodeByAlias = rootNodes.First(x => x.DocumentTypeAlias == "home");
                }

                <li class="@(homeNodeByAlias.Id == Node.GetCurrent().Id ? "active" : "")"><a href="@homeNodeByAlias.Url">@homeNodeByAlias.GetVortoValue("PageTitle")</a></li>

                @foreach (var child in homeNodeByAlias.Children())
                {
                    
                    <li class="@(child.Id == Node.GetCurrent().Id ? "active" : "")"><a href="@child.Url">@child.GetVortoValue("PageTitle")</a></li>
                }
            </ul>
            <form id="search-form" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
</div>